<div class="container">
  <h1>Liste des origamis</h1>


  <table class="table table-stripped mt-5">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Temps Rea</th>
      <th>Nb Feuille</th>
      <th>Niveau</th>
      <th>Note</th>
      <th>Actif</th>
      <th>Lien Youtube</th>
      <th>Aperçu</th>
      <th>Categorie</th>
      <th></th>
      <th></th>

    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let origami of list()">
      <td>{{ origami.id }}</td>
      <td>{{ origami.nom }}</td>
      <td>{{ origami.tempsRea }}</td>
      <td>{{ origami.nbFeuille }}</td>
      <td>{{ origami.niveau }}</td>
      <td>{{ origami.note }}</td>
      <td>{{ origami.actif }}</td>
      <td>{{ origami.youtube }}</td>
      <td>{{ origami.imageOri }}</td>
      <td>{{ origami.categorie }}</td>
      <td>
        <button class="btn btn-warning" (click)="edit(origami.id)">Editer</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(origami.id)">Supprimer</button>
      </td>

    <tr>
      <td colspan="6"><a class="btn btn-success" (click)="add()">Ajouter</a></td>
    </tr>
    <tr *ngIf="formOrigami">
      <td>{{formOrigami.id}}</td>
      <td><input type="text" placeholder="Nom" [(ngModel)]="formOrigami.nom"/></td>
      <td><input type="text" placeholder="Temps" [(ngModel)]="formOrigami.tempsRea"/></td>
      <td><input type="text" placeholder="Nb de feuille" [(ngModel)]="formOrigami.nbFeuille"/></td>
      <td><input type="text" placeholder="Niveau" [(ngModel)]="formOrigami.niveau"/></td>
      <td><input type="text" placeholder="Note" [(ngModel)]="formOrigami.note"/></td>
      <td><input type="text" placeholder="Actif" [(ngModel)]="formOrigami.actif"/></td>
      <td><input type="text" placeholder="Lien Youtube" [(ngModel)]="formOrigami.youtube"/></td>
      <td><input type="text" placeholder="Aperçu" [(ngModel)]="formOrigami.imageOri"/></td>
      <td>
        <select [(ngModel)]="formOrigami.categorie.id"
                [ngModelOptions]="{standalone: true}" >
          <option  value="null" ></option>
          <option *ngFor="let categorie of listCategories()" [ngValue]="categorie.id">{{categorie.nom}}</option>
        </select>
      </td>
      <td><a class="btn btn-info" (click)="save()">Valider</a></td>
      <td><a class="btn btn-warning" (click)="cancel()">Annuler</a></td>
    </tr>
    </tbody>
  </table>
</div>
