<div class="container">
    <h1>Liste des étapes</h1>


    <table class="table table-stripped mt-5">
        <thead>
        <tr>
            <th>Numéro de l'étape</th>
            <th>Description</th>
            <th>Image</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let etape of etapes">
            <td><a [routerLink]="['/salon', salon.id]">{{ salon.nom }}</a></td>
            <td>{{ salon.description }}</td>
            <td>{{ salon.createur.username }}</td>
            <td>{{ salon.dateCreation | date:"dd/MM/yyyy" }}</td>
            <td>
                <button class="btn btn-warning" (click)="edit(salon)">Editer</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="delete(salon)">Supprimer</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>