<div class="container">
    <h1>Liste des étapes</h1>


    <table class="table table-stripped mt-5">
        <thead>
        <tr>
            <th>Numéro de l'étape</th>
            <th>Description</th>
            <th>Image</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let etape of etapes">
            <td><a [routerLink]="['/etape', etape.id]">{{ etape.nom }}</a></td>
            <td>{{ etape.numeroEtape }}</td>
            <td>{{ etape.description }}</td>
            <td>{{ etape.imageEtape }}</td>
            <td>
                <button class="btn btn-warning" (click)="edit(etape)">Editer</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="delete(etape)">Supprimer</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>